CherryPy==3.6.0
pymongo==3.0.1
pyutilib.common==3.0.7
pyutilib.component.config==3.8
pyutilib.component.core==4.6.4
pyutilib.component.executables==3.5
pyutilib.misc==5.9.1
pyutilib.services==3.4
pyutilib.subprocess==3.6.2
pyutilib.workflow==3.5.1
PyYAML==3.11
rpy2==2.5.6
singledispatch==3.4.0.3
six==1.9.0
tangelo==0.9.0
ws4py==0.3.2
