* {
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
}

header {

}

main {
	position: relative;
	top: 50px;
}

button {
    color: #F4F4F4;
    background-color: #4AAAA5;
    font-weight: 600;
    padding: 8px 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: #E3EDF4 #E3EDF4 #3A9A95;
    border-radius: 4px;
    cursor:pointer;
    margin: 10px;
}


h1 {
	font-size: 50px;
}

h2 {
	font-size: 22px;
	display: inline-block;
}

h3 {
	font-size: 18px;
	display: inline-block;
	font-style: italic;
}

section {
	width: 100%;
	clear: both;
}

input {
	margin: 2px;
	padding: 2px;
}

input:disabled + label{
	color: #CCCCCC;
}

select {
	margin: 2px;
	padding: 2px;
}

label {
	margin: 2px;
	padding: 2px;
}

.left {
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
}

#miniMenu {
    position: fixed;
    right: 250px;
    top: 50px;
    width: 150px;
    height: 200px;
}

.miniMenuOption {
	cursor: pointer;

}

#save {
	position: fixed;
	right: 200px;
	top: 55px;
}

#runWorkflow {
	position: fixed;
	right: 25px;
	top: 55px;
}

#analysisWrapper {
	text-align: justify;
	background-color: white;
}

#analysisWrapper h1 {
	text-align: center;
}

.title {
	clear: both;
}

.inputs {
	clear: both;
}

#minimumHeight {
	height: 320px;
}