/*!
* CSS
*/

* {
	padding: 0;
	margin: 0;
}

main {
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px; 
	padding:25px;
	width: 75%;
	color: black;
	margin:auto;
}

section{
	padding:10px;
	margin-left:-40px;
}


.radio-selection {
	display: block;
}

.label {
	width: 30%;
}

.choice {
	width: 70%;
}

.container {
	display: inline-flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	margin: 10px auto;
}

input {
	margin: 5px 5px 0px 0px;
}

#subsetter {
	padding: 20px 0px;
}

h1 {
	font-size:50px;
	font-weight:300;
	padding:3px;
	margin:auto;
	text-align:center;
}

h2{
	display:inline;
	font-size:22px;
	font-weight:300;
}

h3{
	display:inline;
	font-size:16px;
	font-style:italic;
	margin-left:8px;
}

a {
	padding:5px;
}

a.tooltip {
	outline:none; 
} 
a.tooltip strong {
	line-height:30px;
} 
a.tooltip:hover {
	text-decoration:none;
} 
a.tooltip span { 
	z-index:10;display:none; 
	padding:14px 20px; 
	margin-top:-30px;
	margin-left:28px;
	width:300px;
	line-height:16px;
} 
a.tooltip:hover span { 
	display:inline; 
	position:absolute; 
	color:#111; 
	border:1px solid #DCA; 
	background:#fffAF0;
} 

.callout {
	z-index:20;
	position:absolute;
	top:30px;
	border:0;
	left:-12px;
} 

input:disabled + label{
	color: #CCCCCC;
}

span.radioButton {
	font-size:16px;
	/*font-weight:600;*/
}

span.textbox {
	font-size:16px;
}

#buttonContainer {
	text-align:center;
}

button {
	margin:30px;
}

#main-wrapper {
	/*margin-left:310px;*/
}

#workflow-wrapper {
	padding:200px;
}

button.choose {
    color: #F4F4F4;
    background: none repeat scroll 0% 0% #4AAAA5;
    font-weight: 600;
    padding: 8px 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: #E3EDF4 #E3EDF4 #3A9A95;;
    border-radius: 4px;
    cursor:pointer;
}

button.delete {
    color: #F4F4F4;
    background: none repeat scroll 0% 0% #4AAAA5;
    font-weight: 600;
    padding: 4px 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: #E3EDF4 #E3EDF4 #3A9A95;;
    border-radius: 4px;
    cursor:pointer;
    margin:15px;
    
}

button.subset {
    color: #F4F4F4;
    background: none repeat scroll 0% 0% #4AAAA5;
    font-weight: 600;
    padding: 4px 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    border-width: 0px 0px 2px;
    border-style: solid;
    border-color: #E3EDF4 #E3EDF4 #3A9A95;;
    border-radius: 4px;
    cursor:pointer;
    margin:15px;
    margin-left:-30px;
    
}

#simulationType {
	margin-left:60px;
}

div.form-inline {
	margin-left:50px;
}

#radioButtonContainerLeft {
	float:left;
	margin-right:30px;
	margin-left:60px;
}

#radioButtonContainerRight {
	margin-left:10px;
}

#regionSelect {
	margin-left:60px;
}

#latlonContainer {
	margin-left:50px;
}

#latlonLabel {
	float:left;
	margin-right:8px;
}

#timeSelect {
	margin-left:60px;
}

#regionalCliModSelectLeft {
	float:left;
	margin-right:60px;
	margin-left:60px;
}

#globalCliModSelectLeft {
	float:left;
	margin-right:60px;
	margin-left:60px;
}

#analysisType {
	margin-left:60px;
}

#interval {
	margin-left:60px;
}

#outtime {
	margin-left:60px;
}

#qunit {
	/*margin-left: 310px;*/
}